.container {
  padding: 2rem;

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .buttonGroup {
  	display: flex;
  	margin-bottom: 1.5rem;
  	gap: 1rem;


    a {  // Linkは <a>タグとしてレンダリングされる
    	padding: 0.5rem 1rem;
    	background-color: #14375e;
    	color: white;
    	font-size: 1rem;
			cursor: pointer;

    	&:hover {
      	background-color: #005dc1;
    	}
  	}
	}
}