# Virtual environments
.venv/

# Editor/IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Database files (MySQL and others)
*.db
*.sqlite3
db/
*.ibd
*.frm
*.myd
*.myi
*.sdi
*.err

# Logs / Temp
*.log
*.swp
*.tmp
*.bak
*.pid

# Environment Variables
*.env

# Docker - local override only
docker-compose.override.yml