.list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  gap: 12px;

  ul {
    list-style: none;

    li {
      display: flex;
      justify-content: space-between; // 要素を左右に配置
      align-items: center;            // 縦の中央
      margin-bottom: 10px;
      padding: 8px;
      background: rgb(29, 29, 29);
      color: #ccc;
    }
  }
}